.repo-card {
  border-radius: 8px;
  border: 1px solid #011ff3;
  background-color: #011ff3;
  color: #fff;
  width: 27%;
  text-align: left;
  margin: 1.5rem;
  padding: 1.9rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  @media (max-width: 425px) {
    width: 257px;
  }
  img {
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  h1 {
    font-weight: 700;
    margin: 0;
    font-size: 4rem;
  }
  p {
    font-size: 1.4rem;
    margin-bottom: 15px;
    margin-top: 10px;
    // font-weight: 400;
  }
  a {
    color: #fff;
  }
}
