.homepage {
  padding: 3rem 0;
  background-image: linear-gradient(to bottom right, transparent, #000);
  background-position: center;
  background-size: cover;
  // height: 98vh;
  .header {
    h1 {
      font-size: 44px;
      span {
        text-decoration: underline;
        color: lightyellow;
      }
    }
    p {
      color: lightyellow;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .movies-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  .page-btns {
    button {
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #000;
      color: lightyellow;
      font-weight: bold;
      font-size: 17px;
      transition: 0.2s all;
      &:hover {
        box-shadow: 1px 6px 10px #000;
        transform: translateY(-8px);
        color: #000;
        background-color: lightyellow;
      }
      &:disabled {
        opacity: 0.3;
        box-shadow: none;
        transform: none;
        background-color: #000;
        color: lightyellow;
        cursor: not-allowed;
      }
    }
    span {
      border: 1px solid blue;
      padding: .4rem 1rem;
      border-radius: 50%;
      margin: 0 .5rem;
      cursor: pointer;
    }
  }
}

@media (max-width : 768px) {
  .homepage {
    .movies-section {
      flex-direction: column;
      align-items: center;
    }
    .header {
      h1,p {
        padding: 0 30px;
      }
    }
    .page-btns {
      span {
        display: none;
      }
    }
  }
}
